.agreement_text {
    background: #4CAF50;
    color: white;
    padding: 15px;
    /*width: 50%;*/
    height: 300px;
    overflow: scroll;
    border: 1px solid #ccc;
    margin-left: 15px;
    margin-right: 15px;
}

.panel-default > .panel-heading {
    background-color: #2798ed;
}
h3, .h3 {
    color: white !important;
}