.panel {
    margin-top: 30%;
    font-size: large;
}

    .panel.panel-heading {
        background-color: Highlight;
    }

    .panel .panel-title {
        font-size: large;
    }

button {
    font-size: large !important;
}

.login-page .login-header {
    padding: 36px 0 !important;
}

    .login-page .login-header .description {
        margin-left: -10px;
    }

.error-message {
    border: 1px solid red;
}
