<!DOCTYPE html>

<html>

<head>
    <title>Full Screen Test</title>
</head>

<body id="body">
    <h1>test</h1>

    <script>
        //window.onload = function () {
        var elem = document.getElementById("body");

        elem.onclick = function () {
            req = elem.requestFullScreen || elem.webkitRequestFullScreen || elem.mozRequestFullScreen;
            req.call(elem);
        }
            //}

    </script>
</body>

</html>